<div class="black-bg" ng-show="showHelp" ng-click="showHelp = false"></div>
<div ng-show="showHelp" class="popup" ng-click="showHelp = false">
  <h3>How's this work?</h3>
  <ul>
    <li>Paste in text in the input text field.</li>
    <li>Select a plugin on the left by clicking its name.</li>
    <li>Some plugins have options, hover over a plugin for more details on how
    they work.</li>
    <li>Hit Convert to decode your text.</li>
  </ul>
</div>

<div class="plugins" ng-init="init()" ng-cloak>
  <div ng-show="selectedPlugins.length">
    <h3>Selected</h3>
    <ul class="plugin-list">
      <li ng-repeat="plugin in selectedPlugins track by $index">
        <span ng-click="selectedPlugins.splice(selectedPlugins.indexOf(plugin), 1)">
          {{plugin.name}}
        </span>
        <input type="text" class="options" title="{{option}}"
               ng-model="plugin.options[$index]"
               ng-repeat="option in plugin.optionsDesc track by $index">
      </li>
    </ul>
  </div>
  <h3>Plugins</h3>
  <div>
    <ul class="plugin-list">
      <li ng-repeat="plugin in plugins" ng-click="selectedPlugins.push(plugin)">
        <span>{{plugin.name}}</span>
      </li>
    </ul>
  </div>
</div>

<section>
  <div class="text-box" ng-class="{'no-output': !outputTextArea}">
    <div class="nav-button nav-primary-button" ng-click="submitButtonClicked()"
         ng-show="inputText">
      <span class="button-text light-button-text">convert</span>
    </div>
    <div class="file-upload-holder" ng-hide="!showFileUpload">
      <div class="file-upload-inside">
        <input type="file" class="file-upload-input">
        <strong ng-click="showFileUpload=false; $parent.inputFile=false">close</strong>
      </div>
    </div>

    <textarea class="textareas" name="input" ng-model="inputText"
              ng-hide="showFileUpload" placeholder="enter your text here or upload a file">
    </textarea>
  </div>

  <nav ng-class="{'no-output-nav': !outputTextArea}">
    <div class="nav-button nav-button-secondary" ng-click="showFileUpload = true"
         title="Upload file">
      <img class="nav-button-img" src="images/upload.svg">
    </div>
    <div class="nav-button nav-button-secondary" ng-click="clearButtonClicked()"
         title="Clear" ng-show="inputText || showFileUpload">
      <img class="nav-button-img" src="images/close.svg">
    </div>
    <div class="nav-button nav-button-secondary" ng-show="outputTextArea"
         ng-click="downloadFile()" title="Download file">
      <img class="nav-button-img" src="images/down.svg">
    </div>
  </nav>

  <div class="text-box" ng-show="outputTextArea">
    <div class="section-header">
      <span class="input-header output-header">Output</span>
    </div>
    <textarea class="textareas output-textarea" disabled ng-model="outputTextArea">
    </textarea>
  </div>
</section>

<div class="side-bar side-bar-closed" ng-class="{'side-bar-closed': !$parent.showSideBar}">
  <div class="side-bar-list"
       ng-click="$parent.showHelp = true; $parent.showSideBar = false">
       <span>Help</span>
   </div>
  <a href="https://github.com/tomscript/babbage" target="_blank" class="side-bar-list">
    <span>Code on GitHub</span>
  </a>
  </ul>
</div>
<div class="side-bar-bg" ng-show="$parent.showSideBar" ng-click="$parent.showSideBar = false"></div>
